<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex flex-column align-items-center" [routerLink]="['/']">
      <img src="assets/images/angular.png" alt="logo" class="img-logo">
      <span class="site-title">Angular Nigeria</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']" routerLinkActive="router-link-active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active" href="#">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/photos']" routerLinkActive="router-link-active" href="#">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/jobs']" routerLinkActive="router-link-active" href="#">Jobs</a>
        </li>
        <button class="solid-button">Register now</button>
      </ul>
    </div>
  </div>
</nav>
