@import "~src/assets/variables";

:host {
  z-index: 100;
}

.site-title {
  color: $color-black;
}

.navbar {
  padding: 0 50px;
  box-shadow: 0px 3px 40px #fcc2bb2e;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  color: $color-black;
}

.router-link-active {
  color: $accent-color !important;
}

.nav-item {
  margin-right: 40px;
}

.navbar-nav {
  align-items: center;
}

.solid-button {
  width: 180px;
  text-transform: uppercase;
  @include solid-button($secondary-text-color, $accent-color);
  box-shadow: 0px 10px 40px #fe483233;
}

.img-logo {
  height: 100px;
  width: 100px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
