@import "~src/assets/variables";

section {
  display: grid;
  grid-template-areas: 'title .'
                       'desc button'
                       'extras .';

  grid-column-gap: 150px;
  grid-row-gap: 30px;

  .title {
    grid-area: title;
    font-weight: bold;
    font-size: 1.3em;
    color: $header-color;
  }

  .desc {
    grid-area: desc;
    font-size: 1.1em;
  }

  .extras {
    grid-area: extras;

    span {
      display: inline-block;
      color: $subtext-color;
      font-size: 1em;

      &:first-child:after {
        content: '';
        display: inline-block;
        height: 5px;
        width: 5px;
        background: $accent-color;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }

  .apply {
    grid-area: button;
    padding: 15px 40px;
    height: fit-content;
    color: white;

    &:hover{
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1000px){
  section{
    grid-column-gap: 40px;
  }
}


@media screen and (max-width: 750px){
  section{
    grid-template-areas: 'title title'
                       'desc desc'
                       'extras extras'
    'button button';
  }
}

@media screen and (max-width: 570px){
  section{
    .title{
      justify-self: center;
    }
  }
}
