@use "src/assets/variables";

.dialog-title{
  font-size: 1.1em;
}

.check{
  margin-right: 10px;
}

.member-select{
  display: flex;
  align-items: baseline;
  span{
    font-weight: 500;
  }
  input{
    width: 0 !important;
  }
  div {
    color: variables.$accent-color;
  }
}

.subtitle{
  font-size: .9em;
  color: variables.$header-color;
  margin-bottom: 20px;
}

label{
  display: block;
  margin-bottom: 20px;
  span{
    display: block;
    margin-bottom: 5px;
  }
  input{
    border: 1px solid #E8E9EC;
    padding: 10px;
    border-radius: 4px;
    width: 100%;

    &::placeholder{
      color: rgba(variables.$primary-text-color, .4);
    }
  }
}

.button-section {
  margin-top: 20px;
  text-align: right;
  button {
    padding: 10px 30px;
    width: 120px;
    text-align: center;
  }
}
