<section class="main tab">
  <tabs>
    <tab tabTitle="Leadership Team">

      <ng-template [ngIf]="loadingData">
        <fa-icon class="loader" [icon]="faSpinner" [spin]="true"></fa-icon>
      </ng-template>
      <ng-template [ngIf]="!loadingData">
        <ng-template ngFor let-member [ngForOf]="members">
          <ng-nig-profile-card2 *ngIf="member.type === 'admin'" [profilePix]="member.profilePix"
                                userName="{{member.firstName + ' ' + member.lastName}}"
                                job="{{member.jobRole}}, {{member.company}}"
                                [socials]="member.socialHandles"
          ></ng-nig-profile-card2>
        </ng-template>
      </ng-template>
    </tab>
    <tab tabTitle="Members">
      <ng-template [ngIf]="loadingData">
        <fa-icon class="loader" [icon]="faSpinner" [spin]="true"></fa-icon>
      </ng-template>
      <ng-template [ngIf]="!loadingData">
        <ng-template ngFor let-member [ngForOf]="members">
          <ng-nig-profile-card2 *ngIf="member.type === 'member'" [profilePix]="member.profilePix"
                                userName="{{member.firstName + ' ' + member.lastName}}"
                                job="{{member.jobRole}}, {{member.company}}"
                                [socials]="member.socialHandles"
          ></ng-nig-profile-card2>
        </ng-template>
      </ng-template>
    </tab>
  </tabs>
</section>
