
section {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 100px;
}

tabs {
  ::ng-deep
  ul {
    width: 40%;
  }

  ng-nig-profile-card2{
    &:nth-child(4n){
      margin-right: 0;
    }
  }

  ::ng-deep
  .tabs__panel {
    justify-content: center;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: initial;
    gap: 20px;
  }
}

@media screen and (max-width: 1350px) {
  .main{
    padding: 120px 10px 100px !important;
  }
  tabs {
    ::ng-deep
    ul {
      width: 60%;
    }

    ::ng-deep
    .tabs__panel {
      //display: grid !important;
      //grid-template-columns: 1fr 1fr 1fr;
      //grid-gap: 40px !important;
    }
  }
}

@media screen and (max-width: 1055px) {
  tabs {
    ::ng-deep
    ul {
      width: 70%;
    }

    ::ng-deep
    .tabs__panel {
      //display: grid !important;
      //grid-template-columns: 1fr 1fr;
      //grid-gap: 100px;
    }
  }
}

@media screen and (max-width: 1055px) {
  tabs {
    ::ng-deep
    ul {
      li {
        padding: 10px 0 !important;
      }
    }

    ::ng-deep
    .tabs__panel {
      //display: grid !important;
      //grid-template-columns: 1fr 1fr;
      //grid-gap: 100px;
    }
  }
}

@media screen and (max-width: 700px) {
  tabs {
    ::ng-deep
    ul {
      width: 90%;
    }

    ::ng-deep
    .tabs__panel {
      //display: grid !important;
      //grid-template-columns: 1fr;
      //grid-gap: 100px;
      //justify-items: center;
    }
  }
}
