@import "src/assets/variables";

section {
  padding-top: 200px;
  padding-bottom: 200px;


  h2{
    text-align: center;
    color: $header-color;
    margin-bottom: 30px;
  }

  article {
    width: 90%;
    background: white;
    padding: 50px;
    box-shadow: 0 3px 20px #FCC2BB2E;
    border: 1px solid #3333331A;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 880px;


    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 10px;

      label {
        span {
          display: block;
          margin-bottom: 8px;
        }

        input, select {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid #e8e9ec;

          &::placeholder{
            color: rgba($primary-text-color, .44);
          }
        }
      }
    }

    .radio {
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 15px;
      }

      label {
        margin-bottom: 15px;

        input {
          display: inline-block;
          width: fit-content;
        }

        span {
          padding-left: 10px;
          display: inline-block;
          font-size: .9em;
        }
      }
    }

    .spanWidth {
      grid-column: 1/ span 2;
      margin-bottom: 20px;

      span{
        font-size: .85em;
        font-style: italic;

        a{
          color: #1FA9E6;
        }
      }

      &.button-section{
        text-align: center;

        button{
          max-width: 400px;
          width: 100%;
          padding-top: 15px;
          padding-bottom: 15px;
          border-radius: 4px;
        }
      }
    }
  }
}


@media screen and (max-width: 750px){
  section{
    article{
      padding: 50px 30px 50px;
      form{
        label{
          grid-column: 1/span 2;
        }
      }
    }
  }
}
