<section class="main">
  <h1 class="main-title text-center">Become a Member</h1>
  <div class="form-container">
    <p class="form-header text-center">Fields marked with * are required</p>
    <form #memberForm="ngForm">
      <label for="fName">
        <span>First Name *</span>
        <input id="fName" required [disabled]="submittingRequest" type="text" [(ngModel)]='memberData.firstName' name="fullName"
               placeholder="Enter your First Name">
      </label>

      <label for="lName">
        <span>Last Name *</span>
        <input id="lName" required type="text" [disabled]="submittingRequest" [(ngModel)]='memberData.lastName' name="fullName"
               placeholder="Enter your Last Name">
      </label>

      <label for="number">
        <span>Phone number *</span>
        <input id="number" required type="text" [disabled]="submittingRequest" [(ngModel)]='memberData.number' name="number"
               placeholder="Phone Number">
      </label>

      <label for="email">
        <span>Email Address *</span>
        <input id="email" required type="email" [disabled]="submittingRequest" [(ngModel)]='memberData.email' name="email"
               placeholder="e.g johndoe@gmail.com">
      </label>
      <label for="company">
        <span>Company *</span>
        <input id="company" required type="text" [disabled]="submittingRequest" [(ngModel)]='memberData.company' name="company"
               placeholder="What best fits what you currently do?">
      </label>

      <label for="jobTitle">
        <span>Job Title *</span>
        <input id="jobTitle" required type="text" [disabled]="submittingRequest" [(ngModel)]='memberData.jobRole' name="jobTitle"
               placeholder="What best fits what you currently do?">
      </label>

      <label for="passCode" class="spanWidth">
        <span>Event code *
          <fa-icon class="info" [icon]="question"
                   matTooltip="This code helps identify you when you register for an event."></fa-icon></span>
        <input id="passCode" required type="text" [disabled]="submittingRequest" [(ngModel)]='memberData.code'
               name="code"
               placeholder="Choose a string or word you can easily remember">
      </label>

      <label for="profilePix" class="spanWidth">
        <span>Profile Pix</span>
        <input id="profilePix" #fileInput type="file" [disabled]="submittingRequest"
               (change)="memberData.profilePix = fileInput.files"
               name="profilePix"
               placeholder="Upload your pix">
      </label>

      <div class="spanWidth socials-section">
        <span class="extra-text">Add your social handles</span>

        <div class="socials">
          <ng-container *ngIf="memberData.socialHandles.length > 0;  then socialHandles; else noHandles">
          </ng-container>
          <ng-template #socialHandles>
          <div *ngFor="let s of memberData.socialHandles" (click)="removeHandle(s.media)">
            <div class="containing">
          <span class="icon">
            <fa-icon
              [icon]="appService.getSocialIcon(s.media).icon"
              [style.color]="appService.getSocialIcon(s.media).color"></fa-icon>
          </span>
            <span class="handle">{{s.handle}}</span>
          </div>
          </div>
          </ng-template>
          <ng-template #noHandles>
            <div class="notice spanWidth">nothing to show</div>
          </ng-template>
        </div>
      </div>

      <div>
        <button class="primary-button" [disabled]="mediaCount < 1 || submittingRequest" (click)="openSocialModal()">Add new</button>
      </div>

      <div class="spanWidth">
        <span>Your name is public. We'll use your email to send you updates on our meetups.
        </span>
      </div>
      <div class="spanWidth button-section">
        <button class="primary-button" (click)="submitData()" [disabled]="memberForm.invalid || submittingRequest">
          <span *ngIf="!submittingRequest">Become a Member</span>
          <span *ngIf="submittingRequest" class="loadingData">Processing</span>
        </button>
      </div>
    </form>
  </div>
</section>
