@import "src/assets/variables";

// section {
//   padding-top: 150px;
//   text-align: center;
//   height: 70vh;
// }

section {
  margin-top: 250px;
}

.main-title {
  margin-bottom: 60px;
}

.form-container {
  background: #ffffff;
  box-shadow: 0 3px 20px #fcc2bb2e;
  border: 1px solid #3333331a;
  border-radius: 6px;
  padding: 0 50px;
  margin-bottom: 200px;

  label {
    letter-spacing: 0px;
    font-size: 20px;
  }

  .form-control {
    border: 1px solid #e8e9ec;
    border-radius: 4px;
    height: 60px;
    font-size: 20px;

    &:focus {
      outline: none !important;
      border: none;
    }
  }

  .notice {
    letter-spacing: 0;
    color: $primary-text-color;
    font-style: italic;
  }
}

.form-header {
  margin: 60px 0;
  font-size: 1.3em;
}

button {
  margin-top: 30px;
  width: 100%;
  height: 60px;
  font-size: 1.3em;
  border: none;
  color: $secondary-text-color;
  background-color: $accent-color;
  border-radius: 4px;
  margin-bottom: 60px;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
  }
}
