<section class="footer">
  <div class="footer-container d-flex flex-wrap">
    <div class="slack footer-container-box">
      <img src="assets/images/slack.png" alt="slack-logo" class="logo">
      <p class="text">Join our Slack group</p>
      <button class="footer-btn">join</button>
    </div>
    <div class="whatsapp footer-container-box">
      <img src="assets/images/whatsapp.png" alt="slack-logo" class="logo">
      <p class="text">Join our Whatsapp group</p>
      <button class="footer-btn">join</button>
    </div>
  </div>
  <div class="sub-footer">
    <span class="left-text">Angular Nigeria</span>
    <span class="middle-text">Copy 2019. Angular Nigeria</span>
    <div class="right-side">
      <img src="assets/images/twitter-colored.png" alt="twitter" class="footer-img">
      <img src="assets/images/slack-colored.png" alt="slack" class="footer-img">
      <img src="assets/images/whatsapp-colored.png" alt="whatsapp" class="footer-img">
    </div>
  </div>
</section>
