<section [class.invert]="type === 'inverse'">
  <article class="profile-image">
    <img [src]="profilePix">
  </article>
  <article class="details">
    <h4 class="name">{{name | titlecase}}</h4>
    <div class="position">{{position | titlecase}}</div>
    <div class="social-accounts">
      <ng-template ngFor let-social [ngForOf]="socials">
        <a *ngIf="social.link" [href]="appService?.getSocialIcon(social).link + sanitizeHandle(social.link)"
           target="_blank">
          <fa-icon *ngIf="social.link" [icon]="appService?.getSocialIcon(social).icon"
                   [style.color]="appService?.getSocialIcon(social).color"></fa-icon>
        </a>
      </ng-template>
    </div>
  </article>
  <div class="line"></div>
</section>
