@import "src/assets/variables";

section {
  padding-top: 100px;

  .page-hero {
    padding-top: 100px;
    padding-bottom: 150px;
    width: 85%;
    margin: 0 auto;
    max-width: 680px;

    h2 {
      font-size: 3.5em;
      margin-bottom: 20px;
    }

    p {
      font-weight: 600;
      line-height: 2;
    }

    text-align: center;
  }

  .job-section {
    background: $background-dark;
    padding-bottom: 150px;

    > div {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 940px;

      h4 {
        font-size: 2em;
        padding: 50px 0;
        color: $header-color;
      }
    }

    ng-nig-job-card {
      margin-bottom: 40px;
    }
  }
}

