<section class="main">
  <div class="hero" [ngStyle]="{'background': 'url('+ nextEvent?.image +') rgba(0, 0, 0, 0.6) no-repeat'}">
    <div class="container">
      <h2>
        {{nextEvent?.title}}
      </h2>
      <article class="meeting">
        <div>
          <fa-icon [icon]="calenderIcon"></fa-icon>
          {{nextEvent?.date | date:'MMMM d, yyyy'}}
        </div>
        <div>
          <fa-icon [icon]="clockIcon"></fa-icon>
          {{nextEvent?.startTime | date: 'shortTime'}}
          - {{nextEvent?.endTime | date: 'shortTime'}}
        </div>
        <div>
          <fa-icon [icon]="locationIcon"></fa-icon>
          {{nextEvent?.shortAddress}}
        </div>
      </article>
      <article class="description">
        {{nextEvent?.shortDesc}}
      </article>

      <div class="button-section">
        <button (click)='openRegDialog(nextEvent)' class="solid-button primary-button">Register now</button>
        <button [routerLink]="'events/' + nextEvent?.id" class="outline-button">View details</button>
      </div>
    </div>
    <div class="timerContainer">
      <ng-nig-count-down-timer [time]="eventDeadLine"></ng-nig-count-down-timer>
    </div>
  </div>

  <div class="about contain">


    <article>
      <h3>About Angular Nigeria</h3>
      <div class="about-text">
        Interested in Angular (1.x & 2), Frontend Engineering, Best Practices, Future of JavaScript, Tooling, and any
        topic in-between? Join us and expect no dulling moments in our upcoming meetups, QA sessions, webinars, and
        more.
      </div>
      <div class="contact">
        <span>
          Contact us:
        </span>
        <div>
          <span>
            <a [href]="socials?.twitterLink" target="_blank">
              <fa-icon [icon]="twitterIcon"></fa-icon></a>
          </span>
          <span>
            <a [href]="socials?.slackLink" target="_blank">
              <fa-icon [icon]="slackIcon" [style.color]="'#de156c'"></fa-icon>
            </a>
          </span>
          <span>
            <a [href]="socials?.whatsappLink" target="_blank">
              <fa-icon [icon]="whatsAppIcon" [style.color]="'#5add8b'"></fa-icon>
              </a>
          </span>
        </div>
      </div>
    </article>
    <article class="profile-cards">
      <ng-template ngFor let-organizer [ngForOf]="organizers" let-i="index">
        <ng-nig-profile-card
          [name]="organizer.firstName + ' ' + organizer.lastName"
          [position]="organizer.jobRole"
          [profilePix]="organizer.profilePix"
          [socials]="organizer.socialHandles"
          [type]="i < 2 ? '' : 'inverse'"
        ></ng-nig-profile-card>
      </ng-template>
    </article>
  </div>

  <div class="upcoming events">
    <h2>Upcoming Events</h2>
    <div class="container empty-event" *ngIf="upComing.length < 1">
      <fa-icon [icon]="calenderIcon"></fa-icon>
      <div>No upcoming events</div>
    </div>
    <div class="container" *ngIf="upComing.length > 0">
      <ng-nig-event-card *ngFor="let event of upComing"
                         [ngEvent]="event"
      ></ng-nig-event-card>
    </div>
  </div>

  <div class="events">
    <h2>Past Events</h2>

    <div class="container">
      <ng-nig-event-card *ngFor="let event of pastEvents"
                         [ngEvent]="event"
      ></ng-nig-event-card>

      <div class="button-container">
        <button (click)="gotoEventPage()" class="solid-button primary-button">see more</button>
      </div>
    </div>
  </div>

  <div class="eventVideo contain">
    <div class="container">
      <youtube-player class="iframe-container" [videoId]="videoId"></youtube-player>
    </div>
  </div>
  <div class="sponsors-section contain sponsors">
    <h2>Sponsors</h2>
    <h6>Our amazing sponsors</h6>
    <ng-nig-sponsors [sponsors]="pastEvents[0]?.sponsors"></ng-nig-sponsors>
  </div>
</section>
