@import "src/assets/variables";

.sponsors {
  article {
    display: flex;
    flex-wrap: wrap;

    h5 {
      text-align: left;
      width: 100%;
      font-weight: 600;
      font-size: 1em;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 60px;

      &:after {
        content: '';
        display: inline-block;
        width: 20px;
        border-bottom: .12em $accent-color solid;
        margin-left: 10px;
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      //grid-template-columns: 1fr 1fr 1fr;
      //grid-column-gap: 70px;
    }

    a {
      margin-right: 70px;
      transition: 500ms ease-in-out;
      filter: grayscale(.85);
      &:hover{
        filter: grayscale(0);
      }
      img {
        height: 40px;
        width: auto;
        margin-bottom: 40px;
      }
    }
  }
}
