@import "~src/assets/variables";

.header {
  background: $accent-color;
  color: $secondary-text-color;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: baseline;


  button {
    background: transparent;
    border: none;
    color: $secondary-text-color;
  }
}
.modal-container {
  margin: 30px;
}
