@import "src/assets/variables";

ng-nig-event-card{
  margin-bottom: 20px;
}

tabs {
  margin: 0 auto;
  ::ng-deep
  ul {
    width: 60%;
  }
  tab{
    margin: 0 auto;
    width: 65%;
  }
}
::ng-deep .tabs__panel {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1190px){
  tabs {
    ::ng-deep
    ul {
      width: 75%;
    }
    tab{
      margin: 0 auto;
      width: 80%;
    }
  }
}


@media screen and (max-width: 950px){
  tabs {
    ::ng-deep
    ul {
      width: 85%;
      li{
        padding: 15px 20px !important;
      }
    }
    tab{
      margin: 0 auto;
      width: 90%;
    }
  }
}
