@import "src/assets/variables";

ng-nig-event-card{
  margin-bottom: 20px;
}

tabs {
  margin: 0 auto;
  ::ng-deep
  ul.tabs__tab-bar {
    width: 60%;
  }
  tab{
    margin: 0 auto;
    width: 65%;


    .empty-event{
      text-align: center;
      fa-icon{
        font-size: 10em;
        opacity: .4;
      }
      div{
        font-size: 1.5em;
      }
    }
  }
}
::ng-deep .tabs__panel {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1190px){
  tabs {
    ::ng-deep
    ul.tabs__tab-bar {
      width: 75%;
    }
    tab{
      margin: 0 auto;
      width: 80%;
    }
  }
}


@media screen and (max-width: 950px){
  tabs {
    ::ng-deep
    ul.tabs__tab-bar {
      width: 85%;
      li.tabs__tab{
        padding: 15px 20px !important;
      }
    }
    tab{
      margin: 0 auto;
      width: 90%;
    }
  }
}
