<nav class="navbar navbar-expand-lg" [class.stickify]="stickify">
  <div class="container">
    <a class="navbar-brand d-flex flex-column align-items-center" [routerLink]="['/']">
      <img src="assets/images/angular.png" alt="angular-ng" class="img-logo">
      <span class="site-title">Angular Nigeria</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/events']">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/members']">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/photos']">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/jobs']">Jobs</a>
        </li>
        <li>
        <button class="solid-button">Register now</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
