<section class="card2 event-details">
  <img [src]="eventImage" class="image">
  <div class="details">
    <h4>{{title}}</h4>

    <p>{{description}}</p>
  </div>

  <div class="info">
    <div class="event-calender">
       <span>
         <fa-icon [icon]="calenderIcon"></fa-icon>
         {{date | date:'MMMM d, yyyy'}}
       </span>
      <span>
         <fa-icon [icon]="clockIcon"></fa-icon>
         {{time}}
       </span>
      <span>
         <fa-icon [icon]="locationIcon"></fa-icon>
        {{location}}
       </span>
    </div>
    <button class="primary-button" [style.visibility]="past ? 'hidden': 'visible'"
            (click)="openRegDialog(ngEvent)">Register now</button>
  </div>

  <div class="attendants">
    <img [src]="sampleAttendantsPix[0]">
    <img [src]="sampleAttendantsPix[1]">
    <span>
      {{totalAttendees}} people are attending
    </span>
  </div>
</section>
