<section class="card2 event-details">
  <img [src]="eventImage" class="image">
  <div class="details">
    <h4>{{title}}</h4>

    <p>{{description}}</p>
  </div>

  <div class="info">
    <div class="event-calender">
       <span>
         <fa-icon [icon]="calenderIcon"></fa-icon>
         {{date | date:'MMMM d, yyyy'}}
       </span>
      <span>
         <fa-icon [icon]="clockIcon"></fa-icon>
        {{startTime | date: 'shortTime'}}
        - {{endTime | date: 'shortTime'}}
       </span>
      <span>
         <fa-icon [icon]="locationIcon"></fa-icon>
        {{ngEvent?.online ? 'Online' : location}}
       </span>
    </div>
    <button class="primary-button" routerLink="events/{{ngEvent.id}}">View details
    </button>
  </div>

  <div class="attendants">
    <ng-template ngFor let-attendee [ngForOf]="ngEvent.attendees" let-index="index">
      <img *ngIf="index < 2" [src]="urlFor(attendee.picture) ? urlFor(attendee.picture) :
      '/assets/images/user-image.webp'">
    </ng-template>
    <span>
      {{totalAttendees}} people {{past ? 'attended' : 'are attending'}}
    </span>
  </div>
</section>
