<section>
  <div class="hero">
    <div class="container">
      <h2>
        Using Angular at Scale
      </h2>
      <article class="meeting">
        <div>
          <fa-icon [icon]="calenderIcon"></fa-icon>
          October 3, 2019
        </div>
        <div>
          <fa-icon [icon]="clockIcon"></fa-icon>
          11:00AM - 1:00PM
        </div>
        <div>
          <fa-icon [icon]="locationIcon"></fa-icon>
          Lagos, Nigeria
        </div>
      </article>
      <article class="description">
        We would be hearing from experts who have used angular at a large scale and we would also discuss what issues
        you have had scaling your applications.
      </article>

      <div class="button-section">
        <button class="solid-button">Register now</button>
        <button class="outline-button">View details</button>
      </div>
    </div>
    <div class="timerContainer">
      <ng-nig-count-down-timer [time]="eventDeadLine"></ng-nig-count-down-timer>
    </div>
  </div>

  <div class="about">


    <article>
      <h2>About Angular Nigeria</h2>
      <div class="about-text">
        Interested in Angular (1.x & 2), Frontend Engineering, Best Practices, Future of JavaScript, Tooling, and any
        topic in-between? Join us and expect no dulling moments in our upcoming meetups, QA sessions, webinars, and
        more.
      </div>
      <div class="contact">
        <span>
          Contact us:
        </span>
        <div>
          <span>
            <a href="#">
              <fa-icon [icon]="twitterIcon"></fa-icon></a>
          </span>
          <span>
            <a href="#">
              <fa-icon [style.color]="'#260501'" [icon]="slackIcon"></fa-icon>
            </a>
          </span>
          <span>
              <fa-icon [style.color]="'#5add8b'" [icon]="whatsAppIcon"></fa-icon>
          </span>
        </div>
      </div>
    </article>
    <article class="profile-cards">
      <ng-nig-profile-card
        [profilePix]="orginizer.profilePix"
        [facebook]="orginizer.facebook"
        [name]="orginizer.name"
        [position]="orginizer.position"
        [twitter]="orginizer.twitter"
        [stackoverflow]="orginizer.stackoverflow"
      ></ng-nig-profile-card>
      <ng-nig-profile-card
        [profilePix]="orginizer.profilePix"
        [name]="orginizer.name"
        [facebook]="orginizer.facebook"
        [twitter]="orginizer.twitter"
        [slack]="orginizer.slack"
        [position]="orginizer.position"
        [stackoverflow]="orginizer.stackoverflow"
      ></ng-nig-profile-card>
      <ng-nig-profile-card
        type="inverse"
        [profilePix]="orginizer.profilePix"
        [name]="orginizer.name"
        [twitter]="orginizer.twitter"
        [slack]="orginizer.slack"
        [position]="orginizer.position"
        [stackoverflow]="orginizer.stackoverflow"
      ></ng-nig-profile-card>
      <ng-nig-profile-card
        type="inverse"
        [profilePix]="orginizer.profilePix"
        [twitter]="orginizer.twitter"
        [slack]="orginizer.slack"
        [name]="orginizer.name"
        [position]="orginizer.position"
      ></ng-nig-profile-card>

    </article>

  </div>
</section>
