/* You can add global styles to this file, and also import other style files */
@import "assets/variables";
body{
  color: $primary-text-color;
  margin: 0;
  font-family: Futura-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
